.navtitle {
  font-size: 2em;
  padding-top: 25px;
}

.content {
  margin-top: 110px;
}

.contacts {
  margin-bottom: 30px;
}

a {
  text-decoration: none !important;
}

.tableNewEntry {
  font-size: 1.2em;
  font-weight: bold;
}

.btn-small {
  padding: 5px;
}
