{% extends 'layout.html' %}

{% block body %}
  <form class="form-horizontal" action="/submit_update_entry" method="post">
    <legend>Update Contact: <span class="text-warning">{{contact.name}}</span></legend>
    <input type="hidden" name="id" value="{{contact.id}}">
    <div class="form-group">
      <label class="control-label text-info" for="name">Name: </label>
      <input class="form-control" type="text" name="name" value="{{contact.name}}">
    </div>
    <div class="form-group">
      <label class="control-label text-info" for="phone">Phone Number: </label>
      <input class="form-control" type="text" name="phone" value="{{contact.phone}}">
    </div>
    <div class="form-group">
      <label class="control-label text-info" for="email">Email: </label>
      <input class="form-control" type="email" name="email" value="{{contact.email}}">
    </div>
    <div class="form-group">
      <button class="btn btn-success" type="submit" name="action" value="save">Save Updated Contact</button>
      <button class="btn btn-danger" type="submit" name="action" value="delete">Delete Contact</button>
    </div>
  </form>
{% endblock %}
